@font-face {
    font-family: 'Deezer corporate typeface1';
    src: local('Deezer corporate typeface Medium'), local('Deezer-corporate-typeface-Medium'),
        url('DeezerProduct-Medium.woff2') format('woff2'),
        url('DeezerProduct-Medium.woff') format('woff'),
        url('DeezerProduct-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-style: normal;
}