@font-face {
    font-family: 'Deezer corporate typeface1';
    src: local('Deezer corporate typeface Medium'), local('Deezer-corporate-typeface-Medium'),
        url('DeezerProduct-Medium.woff2') format('woff2'),
        url('DeezerProduct-Medium.woff') format('woff'),
        url('DeezerProduct-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
@font-face{
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-style: normal;
}
.header .container img{

}
.descricao {
    display: flex;
    justify-content: center;
    align-self: center;
    background-image: linear-gradient(to bottom, #35323128, #362B26); 
    width: 100%;
    padding-top: 5%;
    
}
.sobremim {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #362B26, #E07507); 
    align-self: center;
    width: 100%;
    padding-top: 5%;
}
.sobremim .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: fit-content;
  padding:0;
}
.sobremim .container img {
        width: 40%;
}
.sobremim .container h1 {
    font-family: 'Inter',Tahoma;
    font-weight: 800;
    color: #FFFF;  
}
.sobremim .container p {
    width: 30%;
    font-family: 'Inter',Tahoma;
    font-size: 20px;
    color: #FFFF;
}

.img {
    margin: 1% 2%;
}
#logo {
    width: 34%;
}
.descricao .container h1{
    font-family: 'Inter';
    color: #FFFF;

    font-size: 30px;
    font-weight: 800;    
}
.descricao .container p {
    font-family: 'Inter', Tahoma;
    color: #FFFF;
}
.descricao .container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: fit-content;
  padding: 0;
}
.descricao .texto {
    margin-left: 5%;
}
.descricao .container img{
    width: 40%;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;   
  width: 50%;
  margin: 0; 
}
