@font-face {
    font-family: 'Deezer corporate typeface1';
    src: local('Deezer corporate typeface Medium'), local('Deezer-corporate-typeface-Medium'),
        url('DeezerProduct-Medium.woff2') format('woff2'),
        url('DeezerProduct-Medium.woff') format('woff'),
        url('DeezerProduct-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-style: normal;
}


.descricao {
    display: flex;
    justify-content: center;
    align-self: center;
    background-image: linear-gradient(to bottom, #35323128, #362B26);
    width: 100%;
    height: 100vh;
    padding-top: 5%;

}

.sobremim {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #362B26, #E07507);
    align-self: center;
    width: 100%;
    padding-top: 5%;
}

.sobremim .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: fit-content;
    padding: 0;
}
.sobremim .texto {
    width: 60%;
    margin-left: 4%;
}
.sobremim .container img {
    width: 100%;
    height: 70%;
    border-radius: 15px;
    margin-left: 5%;
}
.sobremim .container .imgBox {
    width: 40%;
}

.imgBox img{
    width: 50%;
    height: 100%;
}

.sobremim .container h1 {
    font-family: 'Inter', Tahoma;
    font-weight: 800;
    font-size: 50px;
    color: #FFFF;
}


.sobremim .container p {
    width: 90%;
    font-family: 'Inter', Tahoma;
    font-size: 25px;
    color: #FFFF;
}

.img {
    margin: 1% 2%;
}

#logo {
    width: 34%;
}

.descricao .container h1 {
    font-family: 'Inter';
    color: #FFFF;
    font-size: 30px;
    font-weight: 800;
}

.descricao .container p {
    font-family: 'Inter', Tahoma;
    color: #FFFF;
}


.descricao .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: fit-content;
    padding: 0;
}

.descricao .texto {
    margin-left: 5%;
}

.descricao .container img {
    width: 40%;
    border-radius: 15px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0;
}

.social {
    background-image: linear-gradient(to bottom, #E07507, #F2BC6B );
    display: flex;
    height: 100vh;
      border-bottom: 2px solid #FFFF;
}

.social .container {
    justify-content: center;
}

.box img {
    width: 170px;
}

.social .container .boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
}

.social p {
    text-align: center;
    font-family: 'Inter';
    color: #FFFF;
    font-size: 20px;
    margin: 5%;
}
.social h1 {
    font-family: 'Inter';
    color: #FFFF;
    font-size: 30px;
    font-weight: 800;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2BC6B;
    height: 25vh;
}
.footer .container {
    justify-content: space-between;
}
.footer h1{
    font-family: 'Inter';
    color: #FFFF;
    font-size: 30px;
    font-weight: 800;
    margin: 5%;
}
.footer h3 { 
    font-family: 'Inter',Tahoma;
    color: #FFFF;
    font-size: 100%;
    margin: 5%;
}