html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, sans-serif;
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
.corpo {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url('../assets/fundoLogin.png');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content:space-between;
    align-items: center;
}
.container {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    background-image: linear-gradient(to bottom, #000000, #362B26);
    color: #FFF9F9;
    z-index: 1000;
    padding-bottom: 2%;
}
.card-login {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 100%;
}
.titulo {
    display: flex;
    align-self: flex-start;
    margin-left: 6%;
}

.formulario {
    width: 70%;
    margin: 4%;
}
.form {
    width: 100%;
}
.form span{
    margin-left: 5%;
}
.imagem {
    width: 100%;
    max-width: 100%;
}
#imgLogin {
    width: 90%;
}
.entrada {
    padding: 3%;
    width: 100%;
    margin: 5%;
    border-radius: 10px;
}
.filtro{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #362b26;
    z-index: 100;
}
.button {
    display: flex;
    width: 30%;
    justify-content: center;
    align-self: flex-end;
    padding: 3%;
    margin-top: 5%;
    margin-left: 76%;
    border-radius: 25px;
    background-color: #eb5109;
    text-decoration: none;
    color: #FFF9F9;
}
.button:hover {
    background-color: #F2BC6B;
    cursor: pointer;
}
.buttonSair {
    display: flex;
    justify-content: center;
    width: 20%;
    margin-top: 25%;
    margin-left: 5%;
    border-radius: 25px;
    background-color: #eb5109;
    padding: 2%;
    text-decoration: none;
    color: #FFF9F9;
}
.buttonSair:hover{
    background-color: #F2BC6B;
    cursor: pointer;
}