body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, sans-serif;
    display: flex;
}
.corpo {
    display: flex;
    width: 100%;
    background-image: url('../assets/fundoLogin.png');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content:space-between;
    align-items: center;
}
.container {
    display: flex;
    width: 50%;
    justify-self: center;
    align-self: baseline;
    background-image: linear-gradient(to bottom, #000000, #362B26);
    color: #FFF9F9;
    z-index: 1000;
    padding-bottom: 26%;
}
.card-login {
    display: flex;
    justify-content: center;
    padding: 5%;
    margin-top: 16%;
    height: 100%;
    width: 100%;
}
.formulario {
    padding: 5%;
}
.imagem {
    width: 100%;
    max-width: 100%;
}
#imgLogin {
    width: 90%;
}
.entrada {
    padding: 5%;
    width: 120%;
    margin: 5%;
    border-radius: 10px;
}
.filtro{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #362b26;
    z-index: 100;
}